---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /
Disallow: /assets/
Disallow: /patterns/*-playground/
{% if site.baseUrl %}
Sitemap: {{ site.baseUrl }}/sitemap.xml
{% endif %}
