{% macro toggleButton(label, dataName, dataValue, variant='outline') -%}
{%- set classes = "button" -%}
{%- if variant -%}{%- set classes = classes + " " + variant -%}{%- endif -%}
<button class="{{ classes }}" type="button"{% if dataName == "mode" %} data-mode="{{ dataValue }}"{% endif %}{% if dataName == "brand" %} data-brand="{{ dataValue }}"{% endif %} aria-pressed="false">{{ label }}</button>
{%- endmacro %}

{% macro button(label, variant='', disabled=false, type='button') -%}
{%- set classes = "button" -%}
{%- if variant -%}{%- set classes = classes + " " + variant -%}{%- endif -%}
<button type="{{ type }}" class="{{ classes }}"{% if disabled %} disabled{% endif %}>{{ label }}</button>
{%- endmacro %}

{% macro buttonGroup(attached=false, orientation='horizontal', justify='start', ariaLabel='', className='') -%}
{%- set resolvedOrientation = "vertical" if orientation == "vertical" else "horizontal" -%}
{%- set resolvedJustify = "stretch" if justify == "stretch" else "start" -%}
{%- set classes = "button-group" -%}
{%- if className -%}{%- set classes = classes + " " + className -%}{%- endif -%}
<div class="{{ classes }}" role="group" data-orientation="{{ resolvedOrientation }}" data-attached="{{ "true" if attached else "false" }}" data-justify="{{ resolvedJustify }}"{% if ariaLabel %} aria-label="{{ ariaLabel }}"{% endif %}>{{ caller() }}</div>
{%- endmacro %}

{% macro input(type='text', placeholder='', value='', state='default', disabled=false, className='', id='', name='', dataPlaygroundControl=false, dataProp='', dataSource='', dataValueType='', dataQueryParam='') -%}
{%- set classes = "input" -%}
{%- if state == "hover" -%}{%- set classes = classes + " is-hover" -%}{%- endif -%}
{%- if state == "active" -%}{%- set classes = classes + " is-active" -%}{%- endif -%}
{%- if state == "focus" -%}{%- set classes = classes + " is-focus-visible" -%}{%- endif -%}
{%- if state == "disabled" -%}{%- set classes = classes + " is-disabled" -%}{%- endif -%}
{%- if className -%}{%- set classes = classes + " " + className -%}{%- endif -%}
<input class="{{ classes }}" type="{{ type }}"{% if id %} id="{{ id }}"{% endif %}{% if name %} name="{{ name }}"{% endif %}{% if placeholder %} placeholder="{{ placeholder }}"{% endif %}{% if value %} value="{{ value }}"{% endif %}{% if dataPlaygroundControl %} data-playground-control{% endif %}{% if dataProp %} data-prop="{{ dataProp }}"{% endif %}{% if dataSource %} data-source="{{ dataSource }}"{% endif %}{% if dataValueType %} data-value-type="{{ dataValueType }}"{% endif %}{% if dataQueryParam %} data-query-param="{{ dataQueryParam }}"{% endif %}{% if disabled or state == "disabled" %} disabled{% endif %} />
{%- endmacro %}

{% macro checkbox(label='Checkbox', checked=false, disabled=false, state='default', className='', wrapperClassName='', id='', name='', value='on') -%}
{%- set checkboxClasses = "checkbox" -%}
{%- set fieldClasses = "checkbox-field" -%}
{%- if checked -%}{%- set checkboxClasses = checkboxClasses + " is-checked" -%}{%- endif -%}
{%- if state == "hover" -%}{%- set checkboxClasses = checkboxClasses + " is-hover" -%}{%- endif -%}
{%- if state == "active" -%}{%- set checkboxClasses = checkboxClasses + " is-active" -%}{%- endif -%}
{%- if state == "focus" -%}{%- set checkboxClasses = checkboxClasses + " is-focus-visible" -%}{%- endif -%}
{%- if disabled or state == "disabled" -%}
  {%- set checkboxClasses = checkboxClasses + " is-disabled" -%}
  {%- set fieldClasses = fieldClasses + " is-disabled" -%}
{%- endif -%}
{%- if className -%}{%- set checkboxClasses = checkboxClasses + " " + className -%}{%- endif -%}
{%- if wrapperClassName -%}{%- set fieldClasses = fieldClasses + " " + wrapperClassName -%}{%- endif -%}
<label class="{{ fieldClasses }}">
  <input class="{{ checkboxClasses }}" type="checkbox"{% if id %} id="{{ id }}"{% endif %}{% if name %} name="{{ name }}"{% endif %}{% if value %} value="{{ value }}"{% endif %}{% if checked %} checked{% endif %}{% if disabled or state == "disabled" %} disabled{% endif %} />
  <span class="checkbox-field__text">{{ label }}</span>
</label>
{%- endmacro %}

{% macro switch(label='Notifications', checked=false, disabled=false, state='default', className='', wrapperClassName='', id='', name='', value='on') -%}
{%- set switchClasses = "switch" -%}
{%- set fieldClasses = "switch-field" -%}
{%- if checked -%}{%- set switchClasses = switchClasses + " is-checked" -%}{%- endif -%}
{%- if state == "hover" -%}{%- set switchClasses = switchClasses + " is-hover" -%}{%- endif -%}
{%- if state == "active" -%}{%- set switchClasses = switchClasses + " is-active" -%}{%- endif -%}
{%- if state == "focus" -%}{%- set switchClasses = switchClasses + " is-focus-visible" -%}{%- endif -%}
{%- if disabled or state == "disabled" -%}
  {%- set switchClasses = switchClasses + " is-disabled" -%}
  {%- set fieldClasses = fieldClasses + " is-disabled" -%}
{%- endif -%}
{%- if className -%}{%- set switchClasses = switchClasses + " " + className -%}{%- endif -%}
{%- if wrapperClassName -%}{%- set fieldClasses = fieldClasses + " " + wrapperClassName -%}{%- endif -%}
<label class="{{ fieldClasses }}">
  <input class="{{ switchClasses }}" type="checkbox" role="switch"{% if id %} id="{{ id }}"{% endif %}{% if name %} name="{{ name }}"{% endif %}{% if value %} value="{{ value }}"{% endif %}{% if checked %} checked{% endif %}{% if disabled or state == "disabled" %} disabled{% endif %} />
  <span class="switch-field__text">{{ label }}</span>
</label>
{%- endmacro %}

{% macro colorChip(token) -%}
<div class="swatch" style="--swatch-color: var({{ token.cssVar }})">
  <span class="swatch-name">{{ token.name }}</span>
  <span class="swatch-meta">{{ token.value }}</span>
</div>
{%- endmacro %}
